<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Loop.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
				<key>dateExpires</key>
				<string>3/2/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Amplitude.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Base32.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CGMBLEKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CGMBLEKitUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Crypto.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>G4ShareSpy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LoopCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LoopKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LoopKitUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LoopTestingKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LoopUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MKRingProgressView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MinimedKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MinimedKitPlugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MinimedKitUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MockKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MockKitUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NightscoutUploadKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OmniKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OmniKitPlugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OmniKitUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneTimePassword.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RileyLinkBLEKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RileyLinkKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RileyLinkKitUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ShareClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ShareClientUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftCharts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>9W476TGJ4S.com.9W476TGJ4S.loopkit.Loop.statuswidget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>9W476TGJ4S</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.9W476TGJ4S.loopkit.LoopGroup</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Loop Status Extension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>5251fa5f-d316-4438-a0ec-50ef211a851c</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.9W476TGJ4S.loopkit.Loop.statuswidget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64_32</string>
						<string>armv7k</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
						<key>dateExpires</key>
						<string>3/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
								<string>arm64_32</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
								<key>dateExpires</key>
								<string>3/2/21</string>
								<key>type</key>
								<string>Apple Distribution</string>
							</dict>
							<key>embeddedBinaries</key>
							<array>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
										<string>arm64_32</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
										<key>dateExpires</key>
										<string>3/2/21</string>
										<key>type</key>
										<string>Apple Distribution</string>
									</dict>
									<key>name</key>
									<string>CGMBLEKit.framework</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>9W476TGJ4S</string>
										<key>name</key>
										<string>Jose Paredes</string>
									</dict>
								</dict>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
										<string>arm64_32</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
										<key>dateExpires</key>
										<string>3/2/21</string>
										<key>type</key>
										<string>Apple Distribution</string>
									</dict>
									<key>name</key>
									<string>LoopCore.framework</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>9W476TGJ4S</string>
										<key>name</key>
										<string>Jose Paredes</string>
									</dict>
								</dict>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
										<string>arm64_32</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
										<key>dateExpires</key>
										<string>3/2/21</string>
										<key>type</key>
										<string>Apple Distribution</string>
									</dict>
									<key>name</key>
									<string>LoopKit.framework</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>9W476TGJ4S</string>
										<key>name</key>
										<string>Jose Paredes</string>
									</dict>
								</dict>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
										<string>arm64_32</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>50292991A3639BD1AC9751D2FAE33E6BC1C6EF36</string>
										<key>dateExpires</key>
										<string>3/2/21</string>
										<key>type</key>
										<string>Apple Distribution</string>
									</dict>
									<key>name</key>
									<string>ShareClient.framework</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>9W476TGJ4S</string>
										<key>name</key>
										<string>Jose Paredes</string>
									</dict>
								</dict>
							</array>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>9W476TGJ4S.com.9W476TGJ4S.loopkit.Loop.LoopWatch.watchkitextension</string>
								<key>com.apple.developer.healthkit</key>
								<true/>
								<key>com.apple.developer.healthkit.access</key>
								<array/>
								<key>com.apple.developer.siri</key>
								<true/>
								<key>com.apple.developer.team-identifier</key>
								<string>9W476TGJ4S</string>
								<key>get-task-allow</key>
								<false/>
							</dict>
							<key>name</key>
							<string>WatchApp Extension.appex</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>4555b365-0e55-4043-a53f-4163ccb48556</string>
								<key>name</key>
								<string>iOS Team Ad Hoc Provisioning Profile: com.9W476TGJ4S.loopkit.Loop.LoopWatch.watchkitextension</string>
							</dict>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>9W476TGJ4S</string>
								<key>name</key>
								<string>Jose Paredes</string>
							</dict>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>9W476TGJ4S.com.9W476TGJ4S.loopkit.Loop.LoopWatch</string>
						<key>com.apple.developer.team-identifier</key>
						<string>9W476TGJ4S</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>9W476TGJ4S.com.9W476TGJ4S.loopkit.Loop.LoopWatch</string>
						</array>
					</dict>
					<key>name</key>
					<string>WatchApp.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>37b6db51-8e1b-4d19-b534-454e4ab85882</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.9W476TGJ4S.loopkit.Loop.LoopWatch</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W476TGJ4S</string>
						<key>name</key>
						<string>Jose Paredes</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9W476TGJ4S.com.9W476TGJ4S.loopkit.Loop</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.siri</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>9W476TGJ4S</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.9W476TGJ4S.loopkit.LoopGroup</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Loop.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cb20fc59-b6e4-4175-9ae0-316c12c2dcbf</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.9W476TGJ4S.loopkit.Loop</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9W476TGJ4S</string>
				<key>name</key>
				<string>Jose Paredes</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
